.game_image {
  height: 200px;
  width: 300px;
}

.card {
  display: flex;
  /* align-items: center; */
}

.info {
  margin-bottom: 0px;
  padding: 0px 10px;
}

.description {
  margin-bottom: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
