.navbar_container {
  display: flex;
  align-items: center;
}

.navbar_heading {
  padding: 0px 10px;
}

.navbar_options {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav_link {
  margin: 0px 10px;
  margin-bottom: 0px;
}

.btn_login {
  color: #000000;
  height: 50px;
  padding: 10px;
  font-family: "Poppins";
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  border-radius: 50px;
  margin: 0px 10px;
}
