.navbar_container {
  display: flex;
  align-items: center;
}

.navbar_heading {
  padding: 0px 10px;
}

.navbar_options {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav_link {
  margin: 0px 10px;
  margin-bottom: 0px;
}
